fieldset>a[href] {
     display:block;
}

* {
   border: 0; 
   margin: 0;
   padding: 0;
   color: #000;
   text-decoration: none;
    font weight: 500;
   font-family: -apple-system, "Helvetica Neue", Helvetica, Arial;
  box-sizing:border-box;
}


body{
    margin: auto;
    width: device-width;
    max-width: 414px;
 background-color: #EFEFF4;
color:#444;

}

a{
    color:#0079ff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.03);
}

.header{
border-radius: 20px 20px 0px 0px;
}

.ss-cnt img{
border-radius: 5px;
padding:auto;
box-sizing:border-box;
}

.more{
background-color: white;
box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.125);
padding: 10;
}

.screenshots img{ 
width: 48%;
margin: 0 3 3 0;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.225);
}

.ss-cnt{
padding: 20;
}

.screenshots{
text-align:center;
}

.description
{text-align:left;
Padding: 20;
margin-left: 10px;
font-size:14;
}

.description h2{
text-align:center
}

.titles{
color:#151515;
font-weight:750;
}


.sec{
opacity:0.4;
}

.moreinfo{
padding: 20;
padding-top: 10;
}

.moreinfo h5{
font-size:90%;
line-height:1.6em;
}

.button a {
padding-top: 10;
padding-bottom:10;

}

body > panel {
    display: block;
    margin: 15px;
    margin-top:10px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.125)
}

body > panel > fieldset+fieldset {
    border-top: 1.5px solid #e3e3e3;
}



body > panel.ss > fieldset+fieldset {
    padding: 5px;
    margin-left: 20px;
}

.contact a{
margin-left:20px;
}

.outext{
color:#888;
margin-left:25;
text-transform:uppercase;
font-size:80%;
font-weight:700;
}

.icon{
    display: inline-block;
    vertical-align: middle;
    margin-right:10;
    height: 30px;
}

panel > fieldset.button a {
    background-image: url(../images/chev.png);
    background-position: right center;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 15px;
    background-size: 10px 15px;
margin-right:15px;
}

